.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
}

.start h1 {
  margin-bottom: 50px;
  color: white;
}

.menu {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 60vh;
  grid-gap: 20px;
  width: 90%;
  margin: 0 auto;
}

.homeTransition-appear{
  opacity: 0;
}
 
.homeTransition-appear.homeTransition-appear-active{
  opacity: 1;
  transition: all .5s ease-in-out;
}